@model IEnumerable<Security.Domain.DTO.ProjectController.ProjectControllerListItem>

@if (Model == null || Model.Count() == 0)
{
    <h4 class="text-danger text-center">
        No Controller
    </h4>
}
else
{
    <table class="table table-striped table-hover table-striped mt-2">
        <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectControllerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectControllerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersianTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr id="tr_@item.ProjectControllerID">
            <td>
                @Html.DisplayFor(modelItem => item.ProjectControllerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectControllerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersianTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                        <span class="btn btn-danger btnDelete" data-id="@item.ProjectControllerID" data-action='@Url.Action("RemoveProjectControllerAction","ProjectControllerManegment")'
                      data-action-BindGrid='@Url.Action("ProjectControllerListAction","ProjectControllerManegment")'
                      data-action-RefreshGrid='@Url.Action("ProjectControllerSearchBoxAction","ProjectControllerManegment")' data-Delete="Delete">Delete</span>
            </td>
        </tr>
}
    </tbody>
</table>
}