@model IEnumerable<Shopping.DomainModel.DTO.Category.CategoryListItem>


<table class="table table-striped table-hover table-striped mt-2">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasChild)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr id="tr_@item.CategoryID">
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasChild)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
            </td>
            <td>
     <span class="btn btn-danger btnDelete" data-id="@item.CategoryID" >Delete</span>
            </td>
        </tr>
}
    </tbody>
</table>
